body{
    font-family: Work Sans;
    width: 100%;
}
header{
    /* width: 1200px; */
    background-color: #fff;
}
nav{
    display: flex;
    justify-content: space-around;
}
.nav-content{
    display: flex;
    gap: 20px;
    align-items: center;
}
nav >ul{
    display: flex;
    gap: 32px;
}
nav ,li{
    list-style: none;
}
nav,a{
    text-decoration: none;
    align-items: center;
    color: #3C354F;
    
    font-family: Work Sans;
    font-size: 18px; 
}
.btn{
    
    width: 262px;
    height: 56px;
    gap: 24px;
    align-items: center;
}
.nav-des{
    color: #0B0223;
    font-family: Work Sans;
    font-size: 45px;
    
}
.G{
    color: palevioletred;
}

.sa{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 15px;
}

.Sing-in{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 48px;
    background: palevioletred;
}
.Go{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.sec-cont{
    display: flex;
    justify-content: space-around;
}
.img-group18{
    width: 500px;
}

.play{
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.goat{
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    color: #8758F1;
    margin-top: 15px;
}
.img-pan4{
    width: 600px;
}
.sec-des{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-top: 55px;
    display: flex;
    justify-content: space-around;
}
.sec-header{
    
    font-family: Work Sans;
    font-size: 48px;
    color: #8758F1;
}
.se-des{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 80%;
    color: #534C64;
}
.but{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: pink;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
   
}
.banner{
    width: 100%;
}
.banner-header{
    text-align: center;
}
.banner-heading{
    color: #0B0223;
   
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.Funny-vid{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   
}
.banner-des{
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.banner-content{
   display: grid;
   grid-template-columns: repeat(1,1fr);
}
.content{
    background-color: #F948B2;
   
    display: flex;
    gap: 25px;
    padding: 20px;
}
.ff{
    display: flex;
    gap: 150px;
    align-items: center;
}
.a{
    color: #FFF;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 125% */
}
.b{
    color: #FFF;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}
.c{
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 200% */
}
.see{
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    border-radius: 48px;
    background: #FFF;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
}
.Group-65{
    width: 100%;
}
.jk{
    background-color: #0B0223;
    gap: 20px;
    text-align: center;
}


@media screen and (max-width :546px) {
   nav,.nav-content,nav >ul,.sec-cont,.sec-des,.but,.Sing-in,.Go,.sa{
    flex-direction: column;
    margin: 25px;
   
   }
   .img-group18,.img-pan4{
    width: 40%;
   }

}
